.servicesMain{
    overflow:hidden;
    margin-top:70px;
    margin-bottom:50px;
}
.servicesMain h2{
    color:black;
    font-weight:bold;
}
.servicesMain h2 span{
    color:forestgreen
}
.servicesMain .services .service img{
    width:75px;
    margin:20px auto;
}
.servicesMain .services .service{
    padding:20px;
    text-align: center;
    margin:40px;
    transition: .2s all ease;
    cursor: pointer;
    justify-content: center;
}
.servicesMain .services .service:hover{
    box-shadow:2px 2px 10px #ddd,
                2px 2px 10px #ddd;
    transform: scale(1.2);
}

@media screen and (max-width: 1152px){
    .servicesMain .services .service{
        width:35%;
    }
}
@media screen and (max-width: 660px){
    .servicesMain .services{
        display:flex;
        justify-content: center;
    }
    .servicesMain .services .service{
        width:70%;
        margin:20px
    }
}