.login{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.login img{
    width:150px;
    margin-bottom:30px;
}
.login .continueWithGoogle{
    width:45%;
    border:2px solid #ddd;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:150px 70px;
}
@media screen and (max-width:906px) {
    .login .continueWithGoogle{
        width:80%;
    }
}
@media screen and (max-width:530px) {
    .login .continueWithGoogle{
        width:90%;
        padding:70px 50px;
    }
}